
.background-image-index {
	background-image: url(/assets/black-and-white-flying-airplane-jet.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;

	margin: -20px 0 0 -6px;
}


.h1-text {
	padding-top: 50px;
	font-size: 60px;
	text-align: center;
}








div.indexphotos {
	
	display: inline-block;
	margin: 20px;
}

table.albumshow {
	
	text-align: center;

	
}

table.albumshow th {
	
	padding: 10px;
	color: #CC6F6F;
}



.background-image-index {
	background-image: url(/assets/black-and-white-flying-airplane-jet.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;

	margin: -20px 0 0 -6px;
}